
@{
    ViewData["Title"] = "Vue";
}

<div id="app">
    <div><h1>{{ name ? 'Welcome ' + name + ' to Imagebook.' : 'Please, introduce youreself for entering Imagebook' }}</h1></div>
    <div v-if="name">
        <div v-if="showsuggest">
            <h3>Suggestions for improving this site</h3> <button v-on:click="setshowsuggest">Hide suggestions</button>
            <ul v-for="sugg in suggestions">
                <li><label>Author:</label> <input type="text" readonly v-bind:value="sugg.name" style="width: 200;"> <label>Suggestion:</label> <input type="text" readonly v-bind:value="sugg.suggestion" style="width: 1000px;">  <label>Done:</label> <input type="checkbox" v-model="sugg.done" /></li>
            </ul>
        </div>
        <div v-else>
            <div>
                <h3>Write your suggestion to improve this site</h3> <button v-on:click="setshowsuggest">Show suggestions</button>
                <br />
                <input id="suggestme" placeholder="Write your suggestion here and press Enter" v-model="suggest" v-on:keyup.enter="submitsugest" style="width: 1000px;" />

            </div>
            <br />
            <h2>{{ name ? 'You can upload on this page your images and rate any' : null }}</h2>
            <div style="display: inline-block; width: 100%">
                <form method="post" enctype="multipart/form-data" novalidate v-if="isInitial || isSaving" style='float: left; padding: 5px; width: 70%'>
                    <h3>Upload images</h3>
                    <div class="dropbox">
                        <input type="file" name="files" multiple class="input-file" v-on:change="filesChanged" v-bind:disable="isSaving" accept="image/*">
                        <p v-if="isInitial">
                            To upload image(s) to Imagebook site drag image(s) here from local folder <br> or click to browse image(s)
                        </p>
                        <p v-if="isSaving">
                            Uploading files...
                        </p>
                    </div>
                </form>
                <form method="post" enctype="multipart/form-data" novalidate v-if="isInitial || isSaving" style='float: left; padding: 5px; width: 25%'>
                    <h3>Delete images</h3>
                    <div class="dropbox">
                        <input type="file" name="files" class="input-file" onclick="return false" accept="image/*" v-on:drop="deletefile" v-on:dragover="allowdrop">
                        <p v-if="isInitial">
                            Drag image here to delete it from Imagebook
                        </p>
                    </div>
                </form>
            </div>
            <br />
            <div v-for="face in faces" style="display: inline-block;">
                <div style="margin: 5px;">
                    <img v-bind:src="face.fileName" height="200" width="200" draggable="true" v-on:dragstart="dragfile" />
                </div>

                <div class="rate">
                    <input type="radio" v-bind:id="face.star5" v-bind:name="face.id" value="5" v-on:click="setRate" v-model="face.rate" />
                    <label v-bind:for="face.star5" title="5 stars">5 stars</label>
                    <input type="radio" v-bind:id="face.star4" v-bind:name="face.id" value="4" v-on:click="setRate" v-model="face.rate" />
                    <label v-bind:for="face.star4" title="4 stars">4 stars</label>
                    <input type="radio" v-bind:id="face.star3" v-bind:name="face.id" value="3" v-on:click="setRate" v-model="face.rate" />
                    <label v-bind:for="face.star3" title="3 stars">3 stars</label>
                    <input type="radio" v-bind:id="face.star2" v-bind:name="face.id" value="2" v-on:click="setRate" v-model="face.rate" />
                    <label v-bind:for="face.star2" title="2 stars">2 stars</label>
                    <input type="radio" v-bind:id="face.star1" v-bind:name="face.id" value="1" v-on:click="setRate" v-model="face.rate" />
                    <label v-bind:for="face.star1" title="1 star">1 star</label>
                </div>
                <ul>
                    <li>Author: {{face.author}}</li>
                    <li>Votes: {{face.votes}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div v-else>
        <input id="intro" placeholder="Enter here your name and press Enter" v-model="prename" v-on:keyup.enter="submitname" style="width: 300px;"/>
    </div>
</div>