
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div id="app">
    <p>{{location ? 'Site domain is ' + location: null}}</p>
    <p>@ViewData["folderPath"]</p>
    <p>@ViewData["Message"]</p>
    <p>{{ name ? 'Welcome ' + name: 'Name yourself' }}</p>
    <div v-if="topictures">
        <div style="display: inline-block; width: 100%">
            <form method="post" enctype="multipart/form-data" novalidate v-if="isInitial || isSaving" style='float: left; padding: 5px; width: 70%'>
                <h3>Upload images</h3>
                <div class="dropbox">
                    <input type="file" name="files" multiple class="input-file" v-on:change="filesChanged" v-bind:disable="isSaving" accept="image/*">
                    <p v-if="isInitial">
                        Drag your file(s) here to begin<br> or click to browse
                    </p>
                    <p v-if="isSaving">
                        Uploading files...
                    </p>
                </div>
            </form>
            <form method="post" enctype="multipart/form-data" novalidate v-if="isInitial || isSaving" style='float: left; padding: 5px; width: 25%'>
                <h3>Delete images</h3>
                <div class="dropbox">
                    <input type="file" class="input-file" accept="image/*" v-on:drop="deletefile" v-on:dragover="allowdrop">
                    <p v-if="isInitial">
                        Drag your file(s) here to delete it
                    </p>
                </div>
            </form>
        </div>
        <br />
        <div v-for="face in faces" style="display: inline-block;">
            <img v-bind:src="face.image" height="200" draggable="true" v-on:dragstart="dragfile" />
            <br />
            <label>{{face.author}}</label>
            <br />

            @*<div class="rate">
                <input type="radio" v-bind:id="star5 + face.image" v-bind:name="face.image" value="5" />
                <label v-bind:for="star5 + face.image" title="text">5 stars</label>
                <input type="radio" v-bind:id="star4 + face.image" v-bind:name="face.image" value="4" />
                <label v-bind:for="star4 + face.image" title="text">4 stars</label>
                <input type="radio" v-bind:id="star3 + face.image" v-bind:name="face.image" value="3" />
                <label v-bind:for="star3 + face.image" title="text">3 stars</label>
                <input type="radio" v-bind:id="star2 + face.image" v-bind:name="face.image" value="2" />
                <label v-bind:for="star2 + face.image" title="text">2 stars</label>
                <input type="radio" v-bind:id="star1 + face.image" v-bind:name="face.image" value="1" />
                <label v-bind:for="star1 + face.image" title="text">1 star</label>
            </div>*@
        </div>
        <ul v-for="image in images">
            <li>{{image}}</li>
        </ul>

    </div>
    <div v-else>
        <input placeholder="Enter your name" v-model="prename" v-on:keyup.enter="submitname" />
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            location: null,
            name: null,
            prename: null,
            comment: null,
            topictures: false,
            isInitial: true,
            isSaving: false,
            filesnum: 0,
            info: 'testinfo',
            rating: 0,
            faces: null,
            images: null,
        },
        mounted: function (event) {
            this.location = window.location.origin;
        },
        updated() {
            if (this.topictures) {
            }
        },
        methods: {
            submitname() {
                if (this.prename != null) {
                    this.name = this.prename;
                    this.topictures = true;
                    this.getimages();
                    //console.log(this.images);
                }
                else {
                    this.topictures = false;
                }
            },
            save(formData) {
                // upload data to the server
                this.uploadImages(formData)
                    .then(() => {
                        alert('Uploaded ' + this.filesnum + ' file(s).');
                        this.isInitial = true;
                        this.isSaving = false;
                        this.getimages();
                        //console.log(this.images);
                    })
                    .catch(err => {
                        alert(err);
                        this.isInitial = true;
                        this.isSaving = false;
                    });
            },
            filesChanged: function (event) {
                this.isInitial = false;
                this.isSaving = true;
                var fieldName = event.target.name;
                var files = event.target.files;
                this.filesnum = event.target.files.length;
                const formData = new FormData();

                if (files.length > 0) {
                    Array
                        .from(Array(files.length).keys())
                        .map(x => {
                            if (files[x].type.includes("image")) {
                                formData.append("files", files[x]);
                            }
                        });
                    //formData.set("user", name);

                    // save it
                    var numfiles = 0;
                    for (var key of formData.keys()) {
                        numfiles++;
                    }
                    if (numfiles > 0) {
                        this.save(formData);
                    }
                    else {
                        alert('Not image file(s).');
                        this.isInitial = true;
                        this.isSaving = false;
                    }
                }
            },
            getimages: function () {
                this.faces = [];
                //fetch(window.location.origin + '/api/FileUpload/GetImages')
                //    .then(function (response) { return response.json(); })
                //    .then(function (data) {
                //        alert(data);
                //        for (var i = 0; i < data.length; i++) {
                //            this.faces[i] = {
                //                image: window.location.origin + data[i].fileName,
                //                author: data[i].author,
                //                rate: data[i].rate
                //            }
                //            data[i].Name
                //        }
                //    });

                axios.get(window.location.origin + '/api/FileUpload/GetImages')
                    .then(function (response) {
                        //this.data = JSON.parse(response.data);
                        var data = response.data;
                        alert(data);
                        for (let i = 0; i < data.length; i++) {
                            var items = data[i].split(',');
                            var temp;
                            temp.id = items[0];
                            temp.image = window.location.origin + items[1];
                            temp.author = items[2];
                            temp.rate = items[3];
                            this.faces.push(temp);
                        }
                    }.bind(this))
                    .catch(function (error) { console.log(error); }); // .bind(this)

                //$.getJSON(window.location.origin + '/api/FileUpload/GetImages', function (result) {
                //    alert(result);
                //    $.each(result, function (i, data) {
                //        this.faces[i] = {
                //            id: data.id,
                //            image: window.location.origin + data.fileName,
                //            author: data.author,
                //            rate: data.rate
                //        };
                //    });
                //});

            },
            uploadImages: function (formData) {
                return axios.post(window.location.origin + '/api/FileUpload/Uploadfile?name=' + this.name, formData);
            },
            allowdrop: function (event) {
                event.preventDefault();
                //return true;
            },
            allowdrag: function (event) {
                //return false;
            },
            dragfile: function (event) {
                event.dataTransfer.setData("delimg", event.target.src);
                this.info = event.target.src;
            },
            deletefile: function (event) {
                event.preventDefault();
                var fileName = event.dataTransfer.getData("delimg");
                this.info = fileName;

                var bodyFormData = new FormData();
                //bodyFormData.append("files", fileName);
                bodyFormData.set("files", fileName);

                //fetch(window.location.origin + '/api/FileUpload/Deletefile', {
                //    method: 'POST',
                //    body: fileName
                //});

                //fetch(window.location.origin + '/api/FileUpload/Deletefile', fileName)
                //    .then(function (response) {
                //        alert('Deleted ' + fileName + ' file.');
                //        this.getimages();
                //    })
                //    .catch(err => {
                //        alert(err);
                //    });

                //axios.post(window.location.origin + '/api/FileUpload/Deletefile', bodyFormData)
                //    .then(() => {
                //        alert('Deleted ' + fileName + ' file.');
                //        this.getimages();
                //    })
                //    .catch(err => {
                //        alert(err);
                //    });

                axios.get(window.location.origin + '/api/FileUpload/Deletefile?files=' + fileName)
                    .then(() => {
                        alert('Deleted ' + fileName + ' file.');
                        this.getimages();
                    })
                    .catch(err => {
                        alert(err);
                    });

                //var xhr = new XMLHttpRequest();
                //xhr.open('POST', window.location.origin + '/api/FileUpload/Deletefile', fileName, { contentType: 'application/x-www-form-urlencoded'});
                //xhr.send();
            },
        },
    });

    //const BASE_URL = 'https://localhost:44361/';

    //function getimages() {
        //return
        //axios.get('https://localhost:44361/api/FileUpload/GetImages')
        //    .then(response => response.data)
        //    .then(data => { this.images = data; alert(this.images);});

        //fetch('https://localhost:44361/api/FileUpload/GetImages').then(function (response) {
        //    if (response.ok) {
        //        return response.json();
        //    }
        //    throw new Error('Network response was not ok.');
        //}).then(function (json) {
        //    this.images = [
        //        { message: 'Foo1' },
        //        { message: 'Bar1' }
        //    ];
        //    alert(this.images);
        //}).catch(function (error) {
        //    console.log('There has been a problem with your fetch operation: ' + error.message);
        //});

    //}

</script>