
@{
    ViewData["Title"] = "Intro";
}

<style lang="scss">
    .dropbox {
        outline: 2px dashed grey; /* the dash box */
        outline-offset: -10px;
        background: lightcyan;
        color: dimgray;
        padding: 10px 10px;
        min-height: 200px; /* minimum height */
        position: relative;
        cursor: pointer;
    }

    .input-file {
        opacity: 0; /* invisible but it's there! */
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }

    .dropbox:hover {
        background: lightblue; /* when mouse over to the drop zone, change color */
    }

    .dropbox p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 0;
    }
</style>

<h1>Intro</h1>

<div id="app">
    <p>{{ name ? 'Welcome ' + name: 'Name yourself' }}</p>
    <div v-if="topictures">
        <div class="container">
            <form method="post" enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
                <h1>Upload images</h1>
                <div class="dropbox">
                    <input type="file" name="files" multiple class="input-file" v-on:change="filesChanged" v-bind:disable="isSaving" accept="image/*">
                    <p v-if="isInitial">
                        Drag your file(s) here to begin<br> or click to browse
                    </p>
                    <p v-if="isSaving">
                        Uploading files...
                    </p>
                </div>
            </form>
        </div>
        <div v-for="image in images" style="display:inline-block;">
            <img v-bind:src="image" height="200">
            </img>
            <br/>
            <label>{{name}}</label>
            <br/>
            <input v-model="comment" />
        </div>
        <ul>
            <li v-for="image in images">
                {{ image }}
            </li>
        </ul>
    </div>
    <div v-else>
        <input placeholder="Enter your name" v-model="prename" v-on:keyup.enter="submitname" />
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            name: null,
            prename: null,
            comment: null,
            topictures: false,
            isInitial: true,
            isSaving: false,
            filesnum: 0,
            info: 'testinfo',
            images: null,
        },
        updated() {
            if (this.topictures) {
            }
        },
        methods: {
            submitname() {
                if (this.prename != null) {
                    this.name = this.prename;
                    this.topictures = true;
                    this.getimages();
                    //console.log(this.images);
                }
                else {
                    this.topictures = false;
                }
            },
            save(formData) {
                // upload data to the server
                this.uploadImages(formData)
                    .then(() => {
                        alert('Uploaded ' + this.filesnum + ' file(s).');
                        this.isInitial = true;
                        this.isSaving = false;
                        this.getimages();
                        //console.log(this.images);
                    })
                    .catch(err => {
                        alert(err);
                        this.isInitial = true;
                        this.isSaving = false;
                    });
            },
            filesChanged: function (event) {
                this.isInitial = false;
                this.isSaving = true;
                var fieldName = event.target.name;
                var files = event.target.files;
                this.filesnum = event.target.files.length;
                const formData = new FormData();

                if (files.length > 0) {
                    Array
                        .from(Array(files.length).keys())
                        .map(x => {
                            if (files[x].type.includes("image")) {
                                formData.append("files", files[x]);
                            }
                        });

                    // save it
                    var numfiles = 0;
                    for (var key of formData.keys()) {
                        numfiles++;
                    }
                    if (numfiles > 0) {
                        this.save(formData);
                    }
                    else {
                        alert('Not image file(s).');
                        this.isInitial = true;
                        this.isSaving = false;
                    }
                }
            },
            getimages: function () {
                axios.get('https://localhost:44361/api/FileUpload/GetImages')
                    .then(function (response) {
                        this.images = response.data;
                        for (let i = 0; i < this.images.length; i++) {
                            this.images[i] = window.location.origin + this.images[i];
                        }
                    }.bind(this))
                    .catch(function (error) { console.log(error); })
            },
            uploadImages: function (formData) {
                return axios.post("https://localhost:44361/api/FileUpload/Uploadfile", formData);
            }
        },
    });

    //const BASE_URL = 'https://localhost:44361/';

    //function getimages() {
        //return
        //axios.get('https://localhost:44361/api/FileUpload/GetImages')
        //    .then(response => response.data)
        //    .then(data => { this.images = data; alert(this.images);});

        //fetch('https://localhost:44361/api/FileUpload/GetImages').then(function (response) {
        //    if (response.ok) {
        //        return response.json();
        //    }
        //    throw new Error('Network response was not ok.');
        //}).then(function (json) {
        //    this.images = [
        //        { message: 'Foo1' },
        //        { message: 'Bar1' }
        //    ];
        //    alert(this.images);
        //}).catch(function (error) {
        //    console.log('There has been a problem with your fetch operation: ' + error.message);
        //});

    //}

</script>